{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prabash7Tech</title>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Hello World</h1>
        <h1>Hello World - Auto Deploy Test!</h1>

        
        <div class="people-grid">
            {% for person in people %}
            <div class="person-card">
                {% if person.image %}
                <img src="{{ person.image.url }}" alt="{{ person.name }}">
                {% endif %}
                <h2>{{ person.name }}</h2>
            </div>
            {% empty %}
            <p>No people added yet.</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
